$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$gutters: (
    "x-small": 16px,
    "small": 18px,
    "regular": 24px,
    "medium": 28px,
    "large": 34px,
    "x-large": 38px,
);

$s-mobile: 620px;
$r-mobile: 820px;

