@import './reset';
@import './variables';


@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

body {
    background: $primary-color;
    color: $text-color;
}

.main{
    width: 80%;
    margin: 0 auto;

    #{&}__header {
        font-weight: weight(regular);

        &:hover {
            color: $accent-color;
        }
    }
}