@import './reset';
@import './variables';


@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@function get-gutter($gutter-name){
    @return map-get($gutters, $gutter-name);
}

@mixin mobile { 
    @media (max-width: $r-mobile) {
        @content;
    }
}

@mixin small-mobile {
    @media (max-width: $s-mobile){
        @content;
    }
}

body {
    background-color: $primary-color;
    color: $text-color;
    line-height: get-gutter(medium);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $accent-color;
}

.active {
    border-bottom: 3px solid $text-color;
    padding-bottom: 3px;
}

main {
    width: 70%;
    margin: 0 auto;

    @include mobile {
        width: 100%;
        padding: get-gutter(small);
    }
}

.nav{
    #{&}__header {
        font-weight: weight(medium);
    }

    #{&}__motto {
        font-size: 14px;
        padding-left: 10px;
        color: $accent-color;
    }
}

.hero {
    margin-top: get-gutter(x-large);
    padding: get-gutter(medium);

    @include small-mobile {
        padding: 0;
    }

    #{&}__header_wrap {
        text-align: center;

        span {
            color: $accent-color
        }
    }

    .intro {
        margin-top: get-gutter(x-large);
    
        p {
            font-weight: weight(regular);
        }
    }    
}

.concept {
    margin-top: get-gutter(large);
    padding: get-gutter(medium);
    display: flex;
    justify-content: justify-between;
    align-items: center;

    @include small-mobile {
        padding: 0;
        flex-direction: column;
        justify-content: center;        
    }

    #{&}__header {
        font-weight: weight(medium);
        margin-right: get-gutter(medium);

        @include small-mobile{
            text-transform: capitalize;
        }
    }

    #{&}__link {
        flex: .9;
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        a{
            transition: .2s ease-in-out;
            font-size: 14px;
            outline: none;

            &:hover {
                border-bottom: 2px solid $text-color;
                padding-bottom: 3px;
            }
        }

        & #concept__more {
            font-size: 10px;
        }

        @include small-mobile {
            display: flex;
            justify-content: space-between;
        }
    }
}


.concept__info {
    margin-top: get-gutter(medium);
    border: 1px solid $accent-color;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: get-gutter(medium);
    transition: .1s ease-in-out;

    @include small-mobile {
        padding: get-gutter(x-small);
    }

    .article__heading {
        margin-bottom: get-gutter(medium);
        text-transform: capitalize;
        font-weight: weight(bold);
        font-size: get-gutter(medium);
        text-align: right;
    }
}